<div align="center" style="font-family:方正舒体;font-size:larger"><br>总浏览量:&nbsp;
	<a href="http://www.amazingcounters.com">
		<img border="0" src="http://cc.amazingcounters.com/counter.php?i=3230172&amp;c=9690829" alt="AmazingCounters.com">
	</a>
</div>